<div class="card mb-3 hostList">
  <div class="card-header">
    {{groupName}}
  </div>
  <div class="card-body">
    <div class="m-1 p-1">
      <div class="row">
        <div *ngFor="let link of groupLinks" class="col-lg-4 col-xl-6 col-md-12 col-sm-12 mb-3">
          <div class="card">
            <div class="card-header" >
              {{link.name}}
            </div>
            <div class="card-body">
              <a [href]="link.url" target="_blank">{{link.url?.replace('https://','')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
