<div class="card mb-0 shad">
  <h6 class="card-header" [ngClass]="'text-muted border-' + groupColorName + ' '">
    {{groupName}}
  </h6>
  <div class="d-grid d-md-block my-1">


    <a [title]="link.url" *ngFor="let link of groupLinks" class="m-2 my-1 btn btn-sm text-dark border-0 border-bottom" [ngClass]="'btn-outline-' + groupColorName + ' border-' + groupColorName + ''"  [href]="link.url" target="_blank">
      <img style="width: 24px; height: 24px;" [src]="uriIconUrl(link.url) | secure | async" />
      {{link.name}}
    </a>
    <!-- <ul class="list-group list-group-flush">
      <li class="list-group-item">

      </li>
    </ul> -->
  </div>
</div>
