.github
.idea
SwarmPortal.Angular/node_modules
SwarmPortal.Angular/.angular
SwarmPortal.Angular/dist
SwarmPortal.React/node_modules
SwarmPortal.React/build
SwarmPortal.API/bin
SwarmPortal.API/obj
SwarmPortal.API/persist
SwarmPortal.Common/bin
SwarmPortal.Common/obj
SwarmPortal.Context/bin
SwarmPortal.Context/obj
SwarmPortal.ForwardAuth/bin
SwarmPortal.ForwardAuth/obj
SwarmPortal.IconProvider/bin
SwarmPortal.IconProvider/obj
SwarmPortal.MySqlMigrations/bin
SwarmPortal.MySqlMigrations/obj
SwarmPortal.Source.Docker/bin
SwarmPortal.Source.Docker/obj
SwarmPortal.Source.Static/bin
SwarmPortal.Source.Static/obj
SwarmPortal.SQLiteMigrations/bin
SwarmPortal.SQLiteMigrations/obj
SwarmPortal.SqlServerMigrations/bin
SwarmPortal.SqlServerMigrations/obj
