<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Link Groups Management</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Existing Groups</h4>
    </div>
    <div class="col-6">
      <h4>Disabled/Detected Groups</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ul class="groupList">
        <li *ngFor="let group of enabledGroups">
          <a class="link" (click)="disableGroup(group)">❌</a> {{group.name}}
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="groupList">
        <li *ngFor="let group of disabledGroups">
          <a class="link" (click)="enableGroup(group)">➕</a> {{group.name}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <input placeholder="Group Name" [(ngModel)]="groupName" class="form-control"/>
    </div>
    <div class="col-lg-2">
      <button (click)="addGroup(groupName)" class="form-control btn btn-primary col-lg-2">Add Group</button>
    </div>
    <div class="col-12">
    </div>
  </div>
</div>

