<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" routerLink="/">SwarmPortal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn && Roles.includes('admin')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="admin/links" >Manage Links</a></li>
            <li><a class="dropdown-item" routerLink="admin/groups" >Manage Link Groups</a></li>
            <li><a class="dropdown-item" routerLink="admin/roles" >Manage Roles</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <form class="container-fluid justify-content-end">
    <button *ngIf="isLoggedIn" class="btn disabled btn-sm btn-outline-secondary me-2" type="button">Welcome {{Identity?.given_name}}</button>
    <button *ngIf="isLoggedIn" class="btn btn-outline-success me-2" type="button" (click)="logout()">Logout</button>
    <button *ngIf="!isLoggedIn" class="btn btn-outline-success me-2" type="button" (click)="login()">Login</button>
  </form>
</nav>
