.hostList {
    box-shadow: 5px 2px 1px 1px #001000;
    ul {
        list-style: none;
        text-indent: 0;
        padding: 0;
        columns: 2;
        margin-bottom: 0rem;
        li span.host::before {
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            color: red;
        }

    }
}
.hostList ul li {
    span.offline::before {
        content: "❌ ";
    }
    span.online::before {
        content: "✅ ";
    }
    span.unknown::before {
        content: "❔ ";
    }
    span.degraded::before {
        content: "⬇️ ";
    }
}
