<div class="container-flex">
  <div class="row py-3 mr-0">
    <div class="col-12">
      <h2>Link Management</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ag-grid-angular
        style="width: 100%; height: 500px"
        class="ag-theme-alpine-dark"
        [rowData]="rowData"
        [columnDefs]="gridColumns"
        [singleClickEdit]="true"
        [suppressAutoSize]="false"
        [autoSizePadding]="20"

        (gridReady)="onGridReady($event)"
        [stopEditingWhenCellsLoseFocus]="true"
        >
      </ag-grid-angular>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      Group
    </div>
    <div class="col-lg-3">
      Name
    </div>
    <div class="col-lg-5">
      URL
    </div>


  </div>
  <div class="row">
    <div class="col-lg-2">
      <select placeholder="Group" [(ngModel)]="linkGroup" class="form-select">
        <option *ngFor="let group of allGroups" [value]="group.name">{{group.name}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <input placeholder="SwarmPortal" class="form-control" [(ngModel)]="linkName" />
    </div>
    <div class="col-lg-5">
      <input placeholder="https://swarmportal.com" class="form-control" [(ngModel)]="linkUrl" />
    </div>
    <div class="col-lg-2">
      <button [disabled]="isAddDisabled" class="form-control btn btn-primary col-lg-2" (click)="addLink()">Add Link</button>

    </div>
  </div>
</div>
