<div class="container">
  <div class="row pl-3 py-3 mr-0">
    <div class="col-xl-6 col-12" *ngFor="let group of statusGroups">
      <app-status-group-card [groupName]="group.name" [groupStatuses]="group.values">
      </app-status-group-card>

    </div>
  </div>
</div>

<h1>Links</h1>
    <ul>
      <li *ngFor="let group of linkGroups">
        {{group.name}}
        <ul>
          <li *ngFor="let link of group.values">
            <a [href]="link.url">{{link.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <h1>Status</h1>
    <ul>
      <li *ngFor="let group of statusGroups">
        {{group.name}}
        <ul>
          <li *ngFor="let status of group.values">
            {{status.name}} - {{status.status}}
            <!-- Need to replace this with font-awesome for status, with attributes for accessibility. -->
          </li>
        </ul>
      </li>
    </ul>

<router-outlet>
  <!-- Will add routes to handle editing Database sourced links, etc. -->
</router-outlet>
