<div class="container">
  <div class="row pl-3 py-3 mr-0">

    <div class="col-12">

      <div class="card">
        <h4 class="card-header bg-light text-dark">
          Links
        </h4>
        <div class="card-body p-0 py-3">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-md-6 col-12" *ngFor="let group of linkGroups; let i = index">
                <app-link-group-card [groupName]="group.name" [groupLinks]="group.values" [groupColorName]="siteBackgrounds[i%siteBackgrounds.length]">
                </app-link-group-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pl-3 py-3 mr-0">
    <div class="col-12">

      <div class="card">
        <h4 class="card-header bg-light text-dark">
          Status
        </h4>
        <div class="card-body p-0 py-3">
          <div class="container pt-0">
            <div class="row">
              <div class="col-xxl-3 col-lg-4 col-md-6 col-12" *ngFor="let group of statusGroups; let i = index">
                <app-status-group-card [groupName]="group.name" [groupStatuses]="group.values" [groupColorName]="siteBackgrounds[i%siteBackgrounds.length]">
                </app-status-group-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
